.main-example-div {
    display: flex;
    margin: 7em auto 0 5em;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 7em;
}

.image-download-file{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.button-button {
    background: white;
    color: black;
    margin-right: 2em;
    padding: 0.75em;
    border-radius: 0.4em;
    border: none;
  }

  .button-button:hover,
.button-button:active {
  background: #6c82b7;
  color: white;
  scale: 1.1;
  transition: 0.3s;
  cursor: pointer;
}

#perfect-sample-image {
    max-width: 70vw;
    max-height: 40vh;
}

.download-p {
    margin: .5em auto 0 auto;
}

.download-p:hover, .download-p:active {
    font-size: large;
}